<a href="https://colab.research.google.com/github/HPotty36/class2022Fall/blob/main/%EC%98%81%EC%96%B4%EC%9D%8C%EC%84%B1%ED%95%991104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#변수 = meaning
a = '1'
b = 2.2
c = [2, 3, 'abc']
#변수 이름을 assign
print(b)

2.2

In [10]:
type(a)
a = '123'
a[0]
a = 'hello'; print(type(a));print(a[1])

<class 'str'>
e

In [13]:
a = [1,2,'ab',4]; print(type(a)); print(a[1])
#0번째, 1번째, ... 순서대로 나열됨 - print(a[1])은 a의 1번째 (두번째) print해줌

<class 'list'>
2

In [14]:
a = [1,'a',[3,'4']]; print(type(a)); print(a[0]); print(a[2])

<class 'list'>
1
[3, '4']

In [16]:
a = {'a': 85, 'b' : 94, 'c': 20}
print(type(a))
print(a['a'])

<class 'dict'>
85

In [18]:
s = 'abcdef'
print(s[0],s[-1],s[-6])
#마이너스 n은 끝에서 n번째
print(s[1:3],s[1:],s[:3],s[:])
#마지막 빈칸은 처음부터 끝까지
#왼쪽이 n번째에서부터, 오른쪽이 n번째 빼고

a f a
bc bcdef abc abcdef

In [20]:
s = 'abcdef'
len(s)
#길이라는 뜻
#모르겠으면 python len 이렇게 구글링
s.upper()

'ABCDEF'

In [22]:
'this is a house built this year'
tokens = s.split('') # split s into a list
tokens

ValueError: ignored

In [ ]:
#변수(=단어)는 크게 두 가지 (문자, 숫자), 합치면 list
#dictionary - 00의 수학점수 같이 이름을 붙여주는
#1차원의 정보가 list, 2차원의 정보가 dictionary
#comment out - 주석으로 만들어서 실행 못하게

In [ ]:
#코드줄을 새로 넣기
#한 줄을 cell이라고 함
#code cell은 play 버튼을 누르면 실행됨
#폴더 누르면 현재 작업중인 구글 컴퓨터의 directory 보임
#폴더 위의 variable을 누르면 변수의 상황 보여줌
#글자 처리는 따옴표로 ex) '1'
#string (str)이 글자라는 뜻, int(integer?)는 정수라는 뜻
#변수 여러 개를 묶어놓는 것 = list
#함수(입출력이 있는 것) - 영어 글자 옆에 괄호가 있는 형태

In [31]:
a = {1, 2, 3, 4}
for i in a:
  print(i)
#for: in 다음에 list 변수가 들어가면 됨
#indent를 해줘야 - 앞줄에서 enter 누르면 되기도 하고
# == - 진짜 같다는 의미
a = 0
if a == 0:
  print(a)

1
2
3
4
0

In [30]:
for i in range(1, 3):
  for j in range(3, 5):
    print(i*j)

3
4
6
8

In [33]:
a = [1, 2, 3, 4]
b = [i for i in a if i>=2]
b
# list comprehension

[2, 3, 4]

In [34]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i)>=4]
b

['green', 'blue', 'purple']

In [39]:
def add(a,b):
  c = a+b
  return c